/* vim: set ts=2 sw=2: */

/* Normalize body/html to fill whole browser window. */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/**
 * cat
 */

#the_longcat_container {
  height: 100%;
  width: 100%;

  /* Use flexbox to put the longcat to the bottom center. */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#the_longcat {
  width: 100px;
  height: 100px;

  background: hotpink;
}


/**
 * backgrounds
 */

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background--underground {
  background: #000 url('img/brick-pattern.jpg') 0 0 / 50% 50% repeat;
}
