/* vim: set ts=2 sw=2: */

/* Normalize body/html to fill whole browser window. */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fullsize {
  height: 100%;
  width: 100%;
}


/*******************
 * Cat
 *******************/
/**
 * 1. Use flexbox to put the longcat to the bottom center
 * 2. See https://developer.mozilla.org/en/docs/Web/CSS/will-change
 */
.longcat {
  align-items: flex-end; /* 1 */
  display: flex; /* 1 */
  height: 100%;
  justify-content: center; /* 1 */
  position: fixed;
  width: 100%;
  will-change: transform; /* 2 */
}

/**
 * 1. Define cat size
 */
.longcat__container {
  position: relative;
  max-width: 550px;
  min-width: 300px;
      width: 50%;  /* 1 */
}

.longcat__part {
  position: absolute;
  top: 0;
  width: 100%;
}

.longcat__lower-body {
  transform: translateY(45%);
}

.longcat__infinite-repeat {
  transform: translateY(135%);
}

.longcat__upper-body {
  transform: translateY(-48%);
}

.longcat__hand-left,
.longcat__mouth,
.longcat__head,
.longcat__hand-right {
  transform: translateY(-100%);
}


/*******************
 * Sections
 *******************/

.section {
  left: 0;
  position: absolute;
  width: 100%;
}

.section-underground {
  background: #000 url('img/bricks-pattern.jpg') 0 / 300px repeat;
  height: 2600px;
  bottom: 0;
}

.section-earth {
  height: 500px;
  bottom: 2600px;
  z-index: 999;
}

.section-earth__element {
  position: absolute;
}

.section-earth__earth {
  background: url('img/earth/earth.png') 0 / 780px 200px repeat,
              url('img/earth/earth.png') 550px 600px / 780px 300px repeat,
              url('img/earth/earth.png') 250px 0 / 780px 180px repeat;
  height: 610px;
  bottom: -230px;
}

.section-earth__front {
  background: url('img/earth/front.png') center bottom / 1000px 500px no-repeat;
}

.section-earth__transparent {
  background: url('img/earth/transparent.png') 0 / 675px 350px repeat;
  height: 350px;
  bottom: -535px;
}

.section-earth__gulli {
  background: url('img/earth/gulli.png') center 15px / 234px 75px no-repeat;
}

/**
 * 1. Height from all prev container (+ magic number for perfect placement based on pixels)
 */
.section-earth-top {
  height: 500px;
  bottom: 3020px; /* 1 */
}

.section-earth-top__wall {
  background: url('img/earth/wall.gif') center bottom / 1000px 150px repeat-x;
  bottom: -70px
}

.section-earth-top__floor {
  background: url('img/earth/top-floor.png') center bottom / 730px 240px no-repeat,
              url('img/earth/floor.jpg') 0 0 / 275px 275px repeat;
  margin-left: -10px;
}


/*******************
 * Debugging
 *******************/

#debug {
  position: fixed;
  bottom: 0;
  color: white;
  text-shadow: 0 0 2px black;
}
