/* Normalize body/html to fill whole browser window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#the_longcat_container {
  /* Use flexbox to put the longcat to the bottom center. */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#the_longcat {
  width: 100px;
  height: 100px;

  background: black;
}
